@import url("../../../styles/palette.css");
.form-container {
  display: grid;
  width: 100%;
  justify-content: center;
  margin: 25px;
  align-items: center;
  height: calc(100vh - var(--header-height)); /* Adjusted height */
   
}
.form {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  grid-template-columns: 5fr;
  border-color: black;
  border-style: ridge 5px;
  padding: 20px;
  background-color: var(--frm-reg-log-bgrnd-clr);
  
}
/* .container form {
  background-color: var(--frm-reg-log-bgrnd-clr);
  color: var(--frm-reg-log-heading-clr);
} */
.formlabel {
  color: var(--frm-reg-log-lbl-color);
}
.form button[type="submit"],button[type="button"] {
  border-radius: 4px;
  background-color: var(--frm-reg-log-but-clr);
  width: 100%;
  margin-bottom:10px;
}
.form button[type="submit"]{
  background-color: var(--frm-reg-log-but-clr);
}
.form button[type="button"]{
  background-color: red;
}

.form input[type="text"] {
  margin: 0;
  padding: 0;
}

.form button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--frm-reg-log-but-clr-hvr);
  
}
.buttonLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  margin: 0px;
}
.form input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}
.container form {
  background-color:rgb(31, 31, 187);
  color:white;
}
.container{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-style: ridge 5px;
  margin-top:25px;

}

